.text-color-primary{
  color: $brand-primary;
}

.text-color-warning{
  color: $brand-warning;
}

.text-color-info{
  color: $brand-info;
}

.text-color-success{
  color: $brand-success !important;
}

.text-color-white{
  color: #fff;
}