::-webkit-input-placeholder {
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 14px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;  
}

:-ms-input-placeholder {  
   font-size: 14px;  
}