@import "l-section";
@import "l-footer";


.container-fluid{
  margin: 0px;
  padding: 0px;
}
.l-welcome{
  z-index:-1;
  background-image:asset-url('blog.jpg');
  background-size: cover;
  min-height: 700px;
  padding: 0px;
  margin: 0px;
}
