
$article-block-color:rgba(245, 243, 239, 0.64);
.article-block{
  background-color:$article-block-color;
  margin-top: 20px;
  border-radius: 10px;
  &:hover{
    background-color:rgb(241, 243, 244);
  }
}
small{
  display: inline-block;
    padding: 10px;
}
.article-control{
  ul li{
    padding:10px;
    text-decoration: none;
    display: inline-block;
  }
}
.article-main{

  h3{
    text-align: center;
    text-transform: capitalize;
  }
  p{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
  }
}
