$navbar-default-bg: #056EA6;
$navbar-border-radius: 0px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/base";
@import "layout/l-header";
@import "module/navigation";

.container-fluid{
  margin: 0px;
  padding: 0px;
}
